<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modifyInventoryModalLabel">Modifier l'inventaire</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
            {% csrf_token %}
          <div class="mb-3">
            <label for="modifyDate" class="form-label">Date</label>
            <input type="date" class="form-control" id="modifyDate" required>
          </div>
          <div class="mb-3">
            <label for="modifyGrande" class="form-label">Grande</label>
            <input type="number" class="form-control" id="modifyGrande" required>
          </div>
          <div class="mb-3">
            <label for="modifyMini" class="form-label">Mini</label>
            <input type="number" class="form-control" id="modifyMini" required>
          </div>
          <div class="mb-3">
            <label for="modifyTotalVendu" class="form-label">Total Vendu</label>
            <input type="number" class="form-control" id="modifyTotalVendu" readonly>
          </div>
          <div class="mb-3">
            <label for="modifyReste" class="form-label">Reste</label>
            <input type="number" class="form-control" id="modifyReste" readonly>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-warning">Sauvegarder</button>
      </div>
    </div>
  </div>

</body>
</html>