asgiref==3.8.1
beautifulsoup4==4.12.3
Django==5.1.4
django-livereload-server==0.5.1
django-phonenumber-field==8.0.0
lxml==5.3.0
phonenumbers==8.13.51
soupsieve==2.6
sqlparse==0.5.2
tornado==6.4.2
typing_extensions==4.12.2
tzdata==2024.2
